.bg-semi-skine {
  background-color: #787f8b !important;
}
.bg-skine {
  background-color: burlywood !important;
}


.cursor-pointer {
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.2s ease;
}
